
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li class="start " id="menu-Index">
					<a href="__MODULE__/Index/index">
					<i class="icon-home"></i>
					<span class="title">主页</span>
					</a>
				</li>
				<li class="" id="menu-User">
					<a href="javascript:;">
						<i class="icon-user"></i>
						<span class="title">会员管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="User-User_list">
							<a href="__MODULE__/User/User_list">用户列表</a>
						</li>
					<!-- 	<li class="" id="User-User_group">
							<a href="__MODULE__/User/User_group">分组列表</a>
						</li> -->
					<!-- 	<li id="Index-Table">
							<a href="__MODULE__/Index/Table">表格页</a>
						</li>
						<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li> -->
					</ul>
				</li>

				<li class="" id="menu-Article">
					<a href="javascript:;">
						<i class="icon-edit"></i>
						<span class="title">文章管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
					    <li id="Article-Mokuai">
							<a href="__MODULE__/Article/Mokuai">文章模块列表</a>
						</li>
						<li class="" id="Article-Article_type">
							<a href="__MODULE__/Article/Article_type">文章类型列表</a>
						</li>
						<li class="" id="Article-Index">
							<a href="__MODULE__/Article/Index">文章列表</a>
						</li>
					<!-- 	<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li> -->
					</ul>
				</li>

				<li class="" id="menu-Ad">
					<a href="javascript:;">
						<i class="icon-picture"></i>
						<span class="title">广告管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Ad-Index">
							<a href="__MODULE__/Ad/Index">广告列表</a>
						</li>
					<!-- 	<li class="" id="User-User_group">
							<a href="__MODULE__/User/User_group">分组列表</a>
						</li> -->
					<!-- 	<li id="Index-Table">
							<a href="__MODULE__/Index/Table">表格页</a>
						</li>
						<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li> -->
					</ul>
				</li>
				<li class="" id="menu-Shopper">
					<a href="javascript:;">
						<i class="icon-user-md"></i>
						<span class="title">配送员管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Shopper-Index">
							<a href="__MODULE__/Shopper/Index">配送员列表</a>
						</li>
					<!-- 	<li class="" id="User-User_group">
							<a href="__MODULE__/User/User_group">分组列表</a>
						</li> -->
					<!-- 	<li id="Index-Table">
							<a href="__MODULE__/Index/Table">表格页</a>
						</li>
						<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li> -->
					</ul>
				</li>
				<li class="" id="menu-Goods">
					<a href="javascript:;">
						<i class="icon-reorder"></i>
						<span class="title">商品管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
					    <li class="" id="Goods-Centclass">
							<a href="__MODULE__/Goods/Centclass">积分类别列表</a>
						</li>
						<li class="" id="Goods-Gift">
							<a href="__MODULE__/Goods/Gift">积分商品列表</a>
						</li>
						<li class="" id="Goods-Index">
							<a href="__MODULE__/Goods/Index">普通商品列表</a>
						</li>
					<!-- 	<li class="" id="User-User_group">
							<a href="__MODULE__/User/User_group">分组列表</a>
						</li> -->
					<!-- 	<li id="Index-Table">
							<a href="__MODULE__/Index/Table">表格页</a>
						</li>
						<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li> -->
					</ul>
				</li>
				<li class="" id="menu-Orders">
					<a href="javascript:;">
						<i class="icon-shopping-cart"></i>
						<span class="title">订单管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Orders-F_order">
							<a href="__MODULE__/Orders/F_order">分配订单</a>
						</li>
						<li class="" id="Orders-Index">
							<a href="__MODULE__/Orders/Index">订单列表</a>
						</li>
						<li class="" id="Orders-Gift">
							<a href="__MODULE__/Orders/Gift">积分礼品列表</a>
						</li>
						<li class="" id="Orders-Refund">
							<a href="__MODULE__/Orders/Refund">订单退款列表</a>
						</li>
					</ul>
				</li>
				<li class="" id="menu-Dzp">
					<a href="javascript:;">
						<i class="icon-globe"></i>
						<span class="title">游戏管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Dzp-Index">
							<a href="__MODULE__/Dzp/Index">奖品列表</a>
						</li>
						<li class="" id="Dzp-Zhongjiang">
							<a href="__MODULE__/Dzp/Zhongjiang">中奖列表</a>
						</li>
					</ul>
				</li>
				<li class="" id="menu-Scan">
					<a href="javascript:;">
						<i class="icon-file"></i>
						<span class="title">二维码管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Scan-Index">
							<a href="__MODULE__/Scan/Index">生成二维码</a>
						</li>
						<li class="" id="Scan-Scan_list">
							<a href="__MODULE__/Scan/Scan_list">批次列表</a>
						</li>
					</ul>
				</li>
				<li class="" id="menu-Peizhi">
					<a href="javascript:;">
						<i class="icon-cogs"></i>
						<span class="title">系统管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Peizhi-Index">
							<a href="__MODULE__/Peizhi/Index">系统配置</a>
						</li>
						<li class="" id="Peizhi-Women">
							<a href="__MODULE__/Peizhi/Women">关于我们</a>
						</li>
						<li class="" id="Peizhi-City">
							<a href="__MODULE__/Peizhi/City">配送区域</a>
						</li>
					</ul>
				</li>
						<li class="" id="menu-Admin">
					<a href="javascript:;">
						<i class="icon-group"></i>
						<span class="title">管理员管理</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Admin-Index">
							<a href="__MODULE__/Admin/Index">管理员</a>
						</li>
					<!-- 	<li class="" id="User-User_group">
							<a href="__MODULE__/User/User_group">分组列表</a>
						</li> -->
					<!-- 	<li id="Index-Table">
							<a href="__MODULE__/Index/Table">表格页</a>
						</li>
						<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li> -->
					</ul>
				</li>
			<!-- 	<li class="" id="menu-Index">
					<a href="javascript:;">
						<i class="icon-cogs"></i>
						<span class="title">Layouts</span>
						<span class="selected"></span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li class="" id="Index-index">
							<a href="__MODULE__/Index/index">空白页</a>
						</li>
						<li id="Index-Table">
							<a href="__MODULE__/Index/Table">表格页</a>
						</li>
						<li id="Index-Info">
							<a href="__MODULE__/Index/Info">详情页</a>
						</li>
					</ul>
				</li>
 -->
				<!-- <li class="">
					<a href="javascript:;">
					<i class="icon-user"></i>
					<span class="title">UI Features</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="__MODULE__/Index/index">1</a>
						</li>
						<li >
							<a href="__MODULE__/Index/index">2</a>
						</li>
					</ul>
				</li> -->
				<!-- yyx 三级目录 -->
			<!-- 	<li>
					<a class="active" href="javascript:;">
					<i class="icon-sitemap"></i>
					<span class="title">3 Level Menu</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="javascript:;">
							Item 1
							<span class="arrow"></span>
							</a>
							<ul class="sub-menu">
								<li><a href="#">Sample Link 1</a></li>
								<li><a href="#">Sample Link 2</a></li>
								<li><a href="#">Sample Link 3</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
							Item 1
							<span class="arrow"></span>
							</a>
							<ul class="sub-menu">
								<li><a href="#">Sample Link 1</a></li>
								<li><a href="#">Sample Link 1</a></li>
								<li><a href="#">Sample Link 1</a></li>
							</ul>
						</li>
						<li>
							<a href="#">
							Item 3
							</a>
						</li>
					</ul>
				</li>
 -->
			</ul>
	</div>
<script type="text/javascript">
//输入 处理数据 输出
//dom  html/css html/css
$(document).ready(function(){
	$('#menu-<?php echo CONTROLLER_NAME; ?>').addClass('active');
	$('#<?php echo CONTROLLER_NAME; ?>-<?php echo ACTION_NAME; ?>').addClass('active');
});
</script>
			<!-- END SIDEBAR MENU -->